[submodule "cli"]
	path = cli
	url = https://github.com/cronos-so/cli.git
[submodule "programs"]
	path = programs
	url = https://github.com/cronos-so/programs
[submodule "sdk"]
	path = sdk
	url = https://github.com/cronos-so/sdk
[submodule "web"]
	path = web
	url = https://github.com/cronos-so/web
