[package]
name = "clockwork-sdk"
version = "1.3.2"
description = "An SDK for building dapps with the Clockwork automation engine"
edition = "2021"
license = "AGPL-3.0-or-later"
homepage = "https://clockwork.xyz"
repository = "https://github.com/clockwork-xyz/clockwork"
documentation = "https://docs.clockwork.xyz"
readme = "./README.md"
keywords = ["solana"]

[lib]
name = "clockwork_sdk"

[dependencies]
chrono = { version = "0.4.19", default-features = false, features = ["alloc"] }
clockwork-client = { path = "../client", version = "1.3.2", optional = true }
clockwork-thread-program = { path = "../programs/thread", features = ["cpi"], version = "1.3.2" }
nom = "~7"
once_cell = "1.5.2"

[features]
default = []
client = ["clockwork-client"]
thread = []