name: Build

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    container: projectserum/build:v0.24.2
    steps:
      - uses: actions/checkout@v3
      - name: Cargo build
        run: cargo build
