name: Code scan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    container: projectserum/build:v0.27.0
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install default toolchain
        run: rustup default stable
      - uses: Swatinem/rust-cache@v2
      - name: Build
        run: cargo build --locked

  audit:
    needs: build
    name: Audit ${{ matrix.node.path }}
    runs-on: ubuntu-latest
    container: projectserum/build:v0.27.0
    strategy:
      fail-fast: false
      matrix:
        node:
          - cmd: export PATH=$PWD/soteria-linux-develop/bin:$PATH && cd programs/network && soteria -analyzeAll .
            path: programs/network
          - cmd: export PATH=$PWD/soteria-linux-develop/bin:$PATH && cd programs/thread && soteria -analyzeAll .
            path: programs/thread
          - cmd: export PATH=$PWD/soteria-linux-develop/bin:$PATH && cd programs/webhook && soteria -analyzeAll .
            path: programs/webhook
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install BPF toolchain
        run: |
          rustup default stable
          cd /root/.local/share/solana/install/active_release/bin/sdk/bpf
          rm -rf dependencies/*
          ./scripts/install.sh
          rustup default bpf
          cd $GITHUB_WORKSPACE
          cargo update
      - name: Install Soteria auditor
        run : |
          sh -c "$(curl -k https://supercompiler.xyz/install)"
          export PATH=$PWD/soteria-linux-develop/bin:$PATH
      - name: Run soteria on ${{ matrix.node.path }}
        run: ${{ matrix.node.cmd }}
